{{ $gameserverID := .Gameserver.ID }}
{{ $currentPath := .CurrentPath }}

{{if .Files}}
<ul>
  {{range .Files}}
  <li>
    {{if .IsDir}}
    <strong><a href="#" onclick="navigateTo('{{.Path}}')">📁 {{.Name}}/</a></strong>
    {{else}}
    <a href="#" onclick="selectFile('{{.Path}}')">📄 {{.Name}}</a> ({{.Size}} bytes)
    {{end}}
    - <a href="{{if .IsDir}}#{{else}}/{{$.Gameserver.ID}}/files/download?path={{.Path}}{{end}}">{{if .IsDir}}[folder]{{else}}Download{{end}}</a>
    {{if not .IsDir}}
    <button onclick="deleteFile('{{.Path}}')">Delete</button>
    {{end}}
  </li>
  {{end}}
</ul>
{{else}}
<p>No files found in this directory.</p>
{{end}}

{{if .IsNotRoot}}
<p><a href="#" onclick="navigateTo('{{.ParentPath}}')">⬆️ Parent Directory</a></p>
{{end}}