<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{if .Title}}{{.Title}} - {{end}}Gameservers</title>
  <script src="/static/htmx.js"></script>
</head>

<body>
  <nav hx-boost="true">
    <a href="/" hx-get="/" hx-target="#content">Dashboard</a>
    <a href="/gameservers" hx-get="/gameservers" hx-target="#content">Gameservers</a>
    <a href="/games" hx-get="/games" hx-target="#content">Games</a>
  </nav>

  <div id="content">
    {{.Content}}
  </div>
</body>

</html>
